@media screen and (max-width: 450px) {
    .round-box .container #scroll {
        left: -132%;
        top: -39%;
    }
    .round-box .container .round {
        left: -165%;
        top: -22%;
    }
}

@media screen and (max-width: 420px) {
	.round-box .container #scroll {
        left: -145%;
        top: -46%;
    }
    .round-box .container .round {
        left: -177%;
        top: -28%;
    }

}

@media screen and (max-width: 390px) {
	.round-box .container #scroll {
        left: -161%;
        top: -52%;
    }
    .round-box .container .round {
        left: -196%;
        top: -33%;
    }
}

@media screen and (max-width: 376px) {
	.round-box .container #scroll {
        left: -162%;
        top: -56.5%;
    }
	.round-box .container .round {
        left: -187%;
        top: -38%;
    } 
}

@media screen and (max-width: 361px) {
	.round-box .container #scroll {
        left: -182%;
        top: -61.5%;
    }
	.round-box .container .round {
        left: -217%;
        top: -42%;
    } 
}

@media screen and (max-width: 335px) {
	.round-box .container #scroll {
        left: -203%;
        top: -69.5%;
    }
	.round-box .container .round {
        left: -241%;
        top: -47%;
    } 
}

@media screen and (max-width: 335px) {
	.round-box .container #scroll {
        left: -218%;
        top: -75%;
    }
	.round-box .container .round {
        left: -254%;
        top: -51%;
    } 
}